
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="font-family: 'Inter';font-size: 58px;font-weight: 700; line-height: 80px;"> Our Testimonials </h1>
        </div>
        <div class="row">
            <div class="col-12 d-flex flex-row">
                <div class="container-fluid" style="display: flex;
                flex-direction: column;
                height: 284px;
                width: 505px;
                justify-content: space-around;
                border: 1px solid #DADADA;
                border-radius: 10px;" >
                  
                        <p
                            style="font-family: 'Inter';font-size: 16px;font-weight: 400; line-height: 28px;color: #444444;                        ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt et volutpat
                            consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt
                            et volutpat consectetur
                        </p>
                        <div class="row">
                            <div class="col-2">
                                <img src="../assets/testimonial1.png" alt="" style="width:62px ;height: 62px;">
                            </div>
                            <div class="col-10">

                                <h3 style="font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 32px;
                        text-transform: capitalize;
                        color: #000000;">
                                    Jenny Wilson
                                </h3>
                                <p style="font-family: 'Inter';font-weight: 400;line-height: 20px;color: #444444;">
                                    Marketing Coordinator
                                </p>
                            </div>
                        </div>
                    </div>
                <div class="container-fluid" style="display: flex;
                flex-direction: column;
                height: 284px;
                width: 505px;
                justify-content: space-around;
                border: 1px solid #DADADA;
                border-radius: 5px;" >
                  
                        <p
                            style="font-family: 'Inter';font-size: 16px;font-weight: 400; line-height: 28px;color: #444444;                        ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt et volutpat
                            consectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt
                            et volutpat consectetur
                        </p>
                        <div class="row">
                            <div class="col-2">
                                <img src="../assets/testimonial2.png" alt="" style="width:62px ;height: 62px;">
                            </div>
                            <div class="col-10">

                                <h3 style="font-family: 'Inter';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 32px;
                        text-transform: capitalize;
                        color: #000000;">
                                    Jenny Wilson
                                </h3>
                                <p style="font-family: 'Inter';font-weight: 400;line-height: 20px;color: #444444;">
                                    Marketing Coordinator
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 