<div class="container p-0" style="max-width:1042px;">
    <div class="container-fluid p-0 d-flex flex-wrap flex-column" style="max-width:1042px ;">
        <h1 class="primary-heading">Blogs</h1>
        <p class="primary-sub-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt
            et volutpat consectetur
            facilisis diam. Amet libero tristique ac nec proin</p>
    </div>
    <div class="container-fluid d-flex flex-wrap flex-row  justify-content-between" style="row-gap:30px;">
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <a routerLink="blogdetails">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
                    </a>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
        <div class="card" style="border: none; width: 327px; background: #FFFFFF;">
            <img src="../assets/blog1.png" style="border-radius: 0;" class="card-img-top" alt="...">
            <div class="card-body p-0 pt-2">
                <h6 class="card-title card-date">
                    27 June, 2022
                </h6>
                <h5 class="card-title card-title2 ">
                    Lorem ipsum dolor sit amet</h5>
                <p class="card-text card-text2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Laoreet</p>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->