<div class="row justify-content-center" >
    <div class="col-12" style="max-height: 631px  ; max-width:1000px; overflow: auto;">
    <table class="table" style="position: sticky;top: 0; box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);">
        <thead class="thead-dark" style="position: sticky;top: 0; height:69px; background: rgba(248, 64, 114, 0.1);
       ">
          <tr scope="row" style="position: sticky;top: 0; border-radius: 14px 14px 0px 0px; max-width: 919px;">
            <th class="table-heading" scope="col">Project Title</th>
            <th class="table-heading" scope="col"> Post Date</th>
            <th class="table-heading" scope="col">Project Id</th>
            <th class="table-heading" scope="col">Project Subtitle</th>
            <th class="table-heading" scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
         
        
         
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          <tr style="height:80px; ">
            <td class="table-content" >Mark</td>
            <td class="table-content">Otto</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
            <td class="table-content">@mdo</td>
          </tr>
          
        </tbody>
      </table>
      
      
      </div> 
</div>