
    <div class="container-fluid d-flex flex-column justify-content-center">

    
    <div class="container" >
        <div class="row justify-content-between">
            <div class="col-3 d-flex flex-column">
                <h1 style="font-family: 'Inter';font-weight: 700;font-size: 32px;line-height: 48px;color: #004FFF;">Applanche</h1>
                <p style="font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: left;
                color: #999999;

                ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare id sed tincidunt et volutpat
                    consectetur Lorem ipsum dolor sit amet.</p>
                <div class="row">
                    <div class="col d-flex flex-column justify-content-between soci">
                        <b style="font-family: Inter;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #999999;
        
                        "> Follow Us On</b>
                        <div class="row justify-content-around">
                            <img src="../assets/social.png" style="height:30px; width: 30px;" alt="">
                            <img src="../assets/social2.png" style="height:30px; width: 30px;" alt="">
                            <img src="../assets/social3.png" style="height:30px; width: 30px;" alt="">
                            <img src="../assets/social4.png" style="height:30px; width: 30px;" alt="">
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-3 d-flex flex-column flex-wrap justify-content-between">

                <h3 class="quick-links-h">Quick Links</h3>
                <div class="quick-links"> <a routerLink="/"> Home </a> </div>
                <div class="quick-links"> <a routerLink="/portfolio"> Portfolio</a> </div>
                <div class="quick-links"> <a routerLink="/team"> Team</a> </div>
                <div class="quick-links"> <a routerLink="/blog"> Blog</a> </div>
                <div class="quick-links"> <a routerLink="/contact"> Contact Us</a> </div>
            </div>
            <div class="col-3 d-flex flex-column flex-wrap justify-content-between">
                <div>
                    <h3 class="font1 quick-links-h">Write Us On</h3>
                    <h4 class="font1 quick-links">Info@applanche.com</h4>
                </div>
                <div>
                    <h3 class="font1 quick-links-h">Meet us</h3>
                    <h4 class="font1 quick-links">320 Twin tower, New York TS 2 1BD United States of America</h4>
                </div>
            </div>
        </div>
    </div>
</div>
 