<head>
    <script src="http://maps.googleapis.com/maps/api/js?key=API-KEY"></script>
</head>
<div class="container p-0" style="max-width:1042px ;">
    <div class="container-fluid">
        <h1 class="heading">
            Connect With Us
        </h1>
        <p class="sub-heading" style="max-width: 892px;"> We would love to hear from youWe would love to hear from youWe
            would love to hear from youWe would love to
            hear from you</p>
    </div>
    <div class="row" style="width: 100%;max-height: 642px;">
        <img src="../assets/connectwithus.png" alt="">
    </div>
    <div class="row" style="margin-top:100px ;">
        <div class="col-6">
            <h4 class="small-heading">Contact Details</h4>
            <div class="container-fluid d-flex flex-column justify-content-around" style="height: 350px;">

                <div class="row">
                    <div class="col-2">
                        <div class="d-flex justify-content-center align-items-center" style="height: 60px;width: 60px; background: rgba(0, 79, 255, 0.05);;
                    ;">
                            <img src="../assets/email.png" style="height: 22px;width: 30px;" alt="">
                        </div>
                    </div>
                    <div class="col-10">
                        <h3 class="sm-small-heading">
                            Email To Us
                        </h3>
                        <h6 class="sm2-small-heading">
                           <a href="mailto://Info@applanche.com"> Info@applanche.com</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="d-flex justify-content-center align-items-center" style="height: 60px;width: 60px; background: rgba(0, 79, 255, 0.05);;
                    ;">
                            <img src="../assets/call.png" style="height: 22px;width: 30px;" alt="">
                        </div>
                    </div>
                    <div class="col-10">
                        <h3 class="sm-small-heading">
                           Call To Us
                        </h3>
                        <h6 class="sm2-small-heading">
                            <a href="tel://702555121"> (702) 555 121</a>
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="d-flex justify-content-center align-items-center" style="height: 60px;width: 60px; background: rgba(0, 79, 255, 0.05);;
                    ;">
                            <img src="../assets/meetus.png" style="height: 32px;width: 21px;" alt="">
                        </div>
                    </div>
                    <div class="col-10">
                        <h3 class="sm-small-heading">
                            Meet Us
                        </h3>
                        <h6 class="sm2-small-heading">
                           <a  target="_blank" href="https://goo.gl/maps/4z7uWviBx2EAmpJN6"> 2118 Thornridge Cir. Syracuse, 6610 Mooretown Rd Vermont Connecticut 35624
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4 class="small-heading">Find Us</h4>
            <div class="container-fluid" style="height: 316px; width: 520px; border-radius: 10px; ">
                <google-map height="100%" width="100%">
                    <!-- <map-marker [position]="markPos"></map-marker> -->
                </google-map>
            </div>
        </div>
    </div>

    <div class="row justify-content-between" style="max-width :1042px;">
        <div class="col-6" style="max-width:460px ;">
            <h1 class="heading" style="text-align: left;">
                Connect With Us
            </h1>
            <form  #contact="ngForm" (ngSubmit)="getQuery(contact.value)" >
            <div class="container-fluid d-flex flex-column justify-content-around " style="height: 410px;">
                <input ngModel name="queryName"   placeholder="Full Name" class="input-style" required type="text"  id="">
                <input ngModel name="queryEmail" placeholder="Email" class="input-style" type="email" id="">
                <input ngModel name="queryDescription" placeholder="Query" class="input-style" type="text"  id="" style="height: 140px;">
                <input name="querySubmit" class="input-style" value="Submit" type="submit"  id="" style="color:#ffff; background-color:#004FFF;">
            </div>
        </form>
        </div>
        <div class="col-6 p-0" style="height:610px ; width: 491px;">
            <img src="../assets/call girll.png" style="width:100% ;height: 100%;" alt="">
        </div>
    </div>
</div>