<div class="container" style="height: 1158px">
  <div class="row justify-content-center">
    <div class="col-6 d-flex flex-wrap justify-content-between second-col">
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
      <div
        class="card m-4"
        style="
          width: 18rem;
          background: #ffffff;
          border: 1px solid #dadada;
          border-radius: 15px;
        "
      >
        <img src="../assets/front.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5
            class="card-title"
            style="
              font-family: 'Inter';
              font-weight: 600;
              font-size: 20px;
              line-height: 32px;
            "
          >
            Business.goals
          </h5>
          <p
            class="card-text"
            style="
              font-family: 'Inter';
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
            "
          >
            Lorem ipsum dolor sit amet
          </p>
        </div>
      </div>
    
    </div>
  </div>
</div>
