
    <div class="container">
        <div class="row" style="height:max-content;">
            <div class="col-lg-5">
                <div class="container-fluid">
                    <div style="max-width: 426px;
                    height: 395px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;">
                        <h1 style="font-family: 'Inter'; font-weight: 700; font-size: 58px; line-height: 80px;">Who Are
                            We?</h1>
                        <p style="font-family: 'Inter'; font-weight: 400; font-size: 20px; line-height: 36px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ornare id sed tincidunt et volutpat
                            consectetur facilisis diam. Amet libero tristique ac nec proin
                        </p>
                        <button class="btn btn-primary">Learn More</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="container-fluid">
                    <div style="max-width:570px;">
                        <img src="../assets/photo.png" alt="" style="height: 395px; width: 570px;">
                    </div>
                </div>

            </div>
        </div>
    </div>

 