<div class="container d-flex flex-column ">
    <div class="container-fluid">
        <div class="container-fluid d-flex flex-column justify-content-center" style="height: 374px ;">
            <div class="container-fluid d-flex flex-column justify-content-between" style="height:174px ;">

                <h1 class="mainHeading">Project Name</h1>
                <p class="subHeading">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ornare id sed tincidunt et volutpat consectetur
                    facilisis diam. Amet libero tristique ac nec proin</p>
                </div>
        </div>
        <div class="container-fluid" style="max-height: 717px;max-width: 1042px;">
            <img src="assets/project.png" alt="" style="height:100% ;width: 100%;">
        </div>
    </div>
    <div class="container-fluid d-flex flex-column align-items-center p-0 blog-description " style="max-width:700px;margin-top:34px ; ">
        <div class="date w-100 d-flex flex-start" style="color: #004FFF;">
            27 June, 2022
        </div>
        <div class="description " style="margin-top: 40px;">

                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis non nunc et venenatis at. Lorem elit eu quis
                tortor. Facilisis varius dolor venenatis quis volutpat et nulla. Neque elit eros, maecenas id. Consequat
                malesuada vitae adipiscing at cras eu turpis at. Laoreet at semper turpis lectus cras. Turpis molestie
                volutpat dictum ut ornare enim ac lacinia tortor. Ipsum tellus felis dolor facilisi gravida. Enim et integer
                massa sapien. Quis nec sit hendrerit quis non morbi feugiat dictum sed. Sed tellus fermentum tempus eu,
                porttitor pellentesque massa mi. Habitant enim sapien, diam, eget et ipsum montes, tortor curabitur.
                
                
                Consectetur lectus fames ornare sagittis accumsan pellentesque nullam.
                
                Neque quis non orci amet imperdiet. Lobortis ornare eu eget sem commodo arcu in amet dolor. Integer diam
                cursus at nec senectus massa sit. Lorem sit orci turpis in. Fames morbi in adipiscing amet morbi odio
                facilisi arcu morbi. Maecenas tristique luctus volutpat, dictum tincidunt adipiscing. Faucibus malesuada
                felis turpis cursus. In sem morbi scelerisque sed congue risus.
                
                
                Commodo metus fermentum sed dictumst sed.
                
                Facilisi ipsum nibh congue ultrices ornare sollicitudin fermentum. Tempor facilisis tincidunt nisl, gravida
                et molestie. Fringilla vestibulum molestie nisi est sed congue gravida enim. Facilisis aliquet dui tristique
                condimentum et. A, pellentesque lectus eu odio sodales phasellus. Vitae quam eget cras rhoncus nunc, viverra
                magna faucibus. Elementum dignissim ultrices massa morbi cras nec, quis cursus. Donec sagittis, amet, tellus
                gravida. Condimentum sed proin maecenas risus commodo tellus.
                
                
                Habitasse blandit aliquam fermentum mollis diam duis aliquet lacus, et.
                
                Sit euismod iaculis duis vel, posuere egestas rhoncus. Non ipsum luctus ac, ut sed ut. Orci et dictumst
                velit in in leo pretium sed eu. Sollicitudin lorem ut nibh tincidunt ut malesuada. Libero arcu iaculis
                vulputate condimentum at dolor. Ut ut sem pretium velit eget ac facilisis. Lobortis ipsum lacus in amet in
                ligula sit turpis velit. Pellentesque id pellentesque in ornare. Nulla ultrices et neque, a, ullamcorper
                elit sit. Sem ut sagittis bibendum eget.
          
                <div class="row justify-content-between" style="margin-top:100px ;">
                    <div class="col-3 d-flex flex-column p-0" style="min-width: 238px;">
                    <h3 class="details-Po">Improvements</h3>
                    <p class="subHeading2" style="text-align:left;">Brand identity, Product design, development</p>
                </div>
                <div class="col-3 d-flex flex-column p-0" style="min-width: 238px;">
                    <h3 class="details-Po">Tech Stack</h3>
                    <p class="subHeading2" style="text-align:left;">Android, Flutter, Java script, Web development</p>
                </div>
                <div class="col-3 d-flex flex-column p-0">
                    <h3 class="details-Po">Status</h3>
                    <p class="subHeading2" style="text-align:left;">Launch to market</p>
                </div>


            </div>
        </div>
    </div>

</div>