<div class="container" style="max-width:1170px;background: #FFFFFF;height: 631px;
box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);
border-radius: 14px;">
    <div class="row" style="height: 93px;border-bottom: 1px solid #ECECF2;">
        <div class="col-12" style="padding-left: 44px;">
            <div style="padding-top:33px;padding-bottom: 33px;font-family: 'Nunito';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 27px;
            
            /* Primary-color */
            width: 100px;
            color: #F84072;
            border-bottom: 2px solid #F84072;

            ">
                Profile
            </div>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:50px ;max-width: 1000px;">
        <div class="col-6 d-flex flex-column justify-content-between" style="height: 81px;">
            <label for="username" style="font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            
            /* Body text */
            
            color: #68686A;
            ">username</label>
            <input type="text" id="username" style="width: 469px;height: 50px;background: #FFFFFF;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);
            border-radius: 14px;">
        </div>
        <div class="col-6 d-flex flex-column justify-content-between" style="height: 81px;" >
            <label for="username" style="font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            
            /* Body text */
            
            color: #68686A;
            ">email</label>
            <input type="text" id="username" style="width: 469px;height: 50px;background: #FFFFFF;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);
            border-radius: 14px;">
        </div>
    </div>
    <div class="row justify-content-center" style="margin-top:50px ;max-width: 1000px;">
        <div class="col-6 d-flex flex-column justify-content-between" style="height: 81px;">
            <label for="username" style="font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            
            /* Body text */
            
            color: #68686A;
            ">phone</label>
            <input type="text" id="username" style="width: 469px;height: 50px;background: #FFFFFF;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);
            border-radius: 14px;">
        </div>
        <div class="col-6 d-flex flex-column justify-content-between" style="height: 81px;" >
            <label for="username" style="font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            
            /* Body text */
            
            color: #68686A;
            ">city</label>
            <input type="text" id="username" style="width: 469px;height: 50px;background: #FFFFFF;
            box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.06);
            border-radius: 14px;">
        </div>
    </div>
</div>